
form {
  display: grid;
  padding-top: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1%;
  align-items: center;
}

input {
  padding: 11px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  height: 2.5rem;
  flex-wrap: wrap;
  letter-spacing: -0.15px;
  color: #121212;
}

form button {
  cursor: pointer;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  height: 2.5rem;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

input::placeholder {
  font-size: 0.875rem;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  color: #121212;
}
